@font-face {
  font-family: "summerGotitalic";
  src: url(../fonts/Gotham-UltraItalic.otf);
}@font-face{
  font-family: "summerGotlight";
  src: url(../fonts/Gotham-Bold.otf);
}@font-face{
font-family: "Sunborn-sansone";
src: url(../fonts/Sunborn-SansOne.otf);
font-weight: bold;
}
body {
  background: url('../images/Background.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  margin: 0px;
  }
/* HEADER START */
.header-style{
  background-color: rgba(20, 21, 55);
  font-family: Sunborn-sansone;
}
.btn-log, .checkOut{
  text-decoration: none;
  font-family: Sunborn-sansone;
  padding: 10px;
  background-color: rgb(255, 128, 0);
  box-shadow: 5px 6px 6px rgba(20, 21, 55);
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 12px;
  transition: background-color 0.2s ease-in-out;
}#checkOut:hover{
  background-color: green;
  color: #fff;
}.welcome{
  margin-right: 5px;
}
.nav-bar{
  margin-left: 5px;
}
.nav-bar:hover{
  color: #fff;
  background-color: rgb(255, 128, 0);
  border-radius: 50%;
}#active{
  background-color: rgb(255, 128, 0);
  padding: 10px;
  border-radius: 50%;
}
/* HEADER END */

/* Sidebar START */

  /* Countainer  START */
  .side-left,.side-right{
    background-color: #fff;
}.rows{
    display: grid;
    grid-template-columns: 48% 48%;
    column-gap: 2%;
}
  /* Countainer END */

.side-left{
    display: grid;
    grid-template-columns: auto auto auto;
    margin-right: -200px;
    overflow-y: scroll;
    height: 50%;
    font-family: Sunborn-sansone;
}.food-container{
    box-shadow: 3px 4px 6px rgba(20, 21, 55);
    margin-left: -5px;
    text-align: center;
}.food-container div button:hover{
  background-color: green;
  color: #fff;
  box-shadow: 3px 5px 7px white;
}
.food-wrap{
  display: grid;
  grid-template-rows: auto auto;
  align-items: start;
  padding: 12px;
}
#categoryId{
  box-shadow: 5px 6px 6px rgba(20, 21, 55);
  background-color: #fff;
  font-size: 30px;
  font-family: summerGotlight;
  font-size: 16px;
}
.sidebar-right{
  margin-left: 200px;
}.wrap{
  background-color: #ffffffd8;
  border: none;
  box-shadow: 5px 6px 8px 6px rgba(20, 21, 55);
  padding: 10px;
  font-family: summerGotlight;
  font-size: 16px;
}
.sidebar-right div{
  list-style: none;
  display: grid;
  grid-template-columns: auto auto;
}
/* Sidebar END */
/* Check Out */
.orderList{
  border: 1px solid black;
  padding: 10px;
  width: 100%;
}.modal-footer .payType, .placeText{
  width: 100%;
  height: 40px;
  margin-top: 10px;
  font-size: 17px;
}.txtArea{
  height: 120px;
}.totalFoot{
  display: grid;
  grid-template-columns: 50% 50%;
  border: 1px solid black;
  margin: 15px;
  padding: 15px;

}.totalText{
  text-align: left;
  font-size: 17px;
  color: green;
}.total{
  text-align: right;
  font-size: 17px;
  color: green;
}

/* Overview CSS */
.table-wrap{
  background-color: rgba(20, 21, 55);
  color: #fff;
}.modalMain{
  font-family: summerGotlight;
  font-size: 16px;
}